<!DOCTYPE html>
<html>
    <header>
        
    </header>
    <body>
        <div id="divRowUsuarios">
            <p>Aqui volcaremos las actividades</p>
        </div>
        
        <div class='clearfix'></div>
        
        <div id="divRowPage">
            <ul class="pagination">
                <li id="previous" class="page-item"><a class="page-link" data-page="p-1" href="#">Previous</a></li>
                <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
            <li class="page-item"><a class="page-link" data-page="p+1" href="#">Next</a></li>
            </ul>
        </div>

        <!-- JQUERY -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
        <script src="../js/scriptActividades.js"></script>
        
    </body>
</html>